<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Edit a listing</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/listings.css" type="text/css" />

    <!-- Custom fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,700;1,300;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Global layout CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Header CSS -->
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />

    <!-- Edit listing page CSS -->
    <link rel="stylesheet" href="/styles/new_listing.css" type="text/css" />

    <!-- Footer CSS -->
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- Client-side JS -->
    <script type="text/javascript" src="/scripts/client.js"></script>

    <!-- Disabling zooming on mobile devices so as not to prevent using the mobile layout -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
  </head>

  <body>
    <%- include('partials/_header') %>

    <main>
      <section>
        <div class="error"></div>
        <form method="POST" action="/listings/edit_listing/<%=product.id%>" id="edit-listing-form">
          <label>
            Edit your listing
          </label>
          <span>Title</span>
          <textarea type="title" name="title"><%= product.title %></textarea>
          <span>Description</span>
          <textarea
            type="description"
            name="description"
            placeholder="Please enter the new description..."
          ><%= product.description %></textarea>
          <span>Price</span>
          <textarea
            type="price"
            name="price"
            placeholder="Please enter the new price..."
          ><%= product.price %></textarea>
          <span>Image</span>
          <textarea
            type="image_url"
            name="image_url"
            placeholder="Please enter the new image URL..."
          ><%= product.thumbnail_photo_url %></textarea>
          <button type="submit" id="submit-button">
            Submit
          </button>
        </form>
      </section>
    </main>

    <%- include('partials/_footer') %>
  </body>
</html>
