<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <nav>
        <a href="/listings">Website name</a>
      </nav>
    </header>

    <main>
      <section>
        <% for(value in products) { %>
        <ul style="list-style: none;">
          <li>ID: <%= products[value].id %></li>
          <li>Title: <%= products[value].title %></li>
          <li>Description: <%= products[value].description %></li>
          <li>
            Thumbnail: <img src="<%=products[value].thumbnail_photo_url%>" />
          </li>
          <li>Photo: <img src="<%=products[value].cover_photo_url%>" /></li>
          <li>Price: $<%= products[value].price %></li>
          <li>Sold Flag: <%= products[value].for_sale %></li>
        </ul>
        <% } %>
      </section>
    </main>
  </body>
</html>
