<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>

    <!-- <header>
      <nav>
        <a href="/listings">Website name</a>
      </nav>
    </header> -->

    <main>
      <section>
        <h1>
          Current listings
        </h1>
        <form method="POST" action="/listings">
          <label>
            Filter by
          </label>
          <input placeholder="Please specify...">
          <button type="submit">
            Filter
          </button>
        </form>

        <div class = "listing-container">
          <img href="">
          <h3 class = "listing-title"><%= listings.title %></h3>
          <article class = "listing-description"><%= listings.description %></article>
          <h4><%= listings.price %></h4>
          <h5><%= listings.date %></h5>
          <button class = "listing-add-favourite"></button>
          <form method="GET" action="/messages">
            <button type="submit">
              Contact the seller
            </button>
          </form>
        </div>
      </section>
    </main>

    <%- include('partials/_footer') %>
  </body>
</html>
