<!DOCTYPE html>
<html lang="en">
  <head>
    <title>All the listings</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/listings.css" type="text/css" />

    <!-- Custom fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,700;1,300;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Global layout CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Header CSS -->
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />

    <!-- Listings page CSS -->
    <link rel="stylesheet" href="/styles/listings.css" type="text/css" />

    <!-- Footer CSS -->
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />

    <!-- Fontawesome custom icons -->
    <script
      src="https://kit.fontawesome.com/f0b575b405.js"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- Client-side JS -->
    <script type="text/javascript" src="/scripts/client.js"></script>

    <!-- Disabling zooming on mobile devices so as not to prevent using the mobile layout -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
  </head>

  <body>
    <%- include('partials/_header') %>

    <main>
      <section>
        <div class="listings-header">
          <h1>
            Current listings
          </h1>
          <div>
            <form method="POST" action="/listings" id="filter">
              <!-- <label>
                Sort by price
              </label> -->
              <!-- <input placeholder="Please specify..." /> -->
              <button type="submit" id="filter-button">
                Sort by price
              </button>
            </form>
            <form method="GET" action="/listings/new">
              <button type="submit" id="new-listing-button">
                Add a new listing
              </button>
            </form>
          </div>
        </div>

        <div id="listings-container">
          <div id="all-listings">
            <% for(value in products) { %>
            <div class="one-listing">
              <div class="listing-info">
                <img src="<%= products[value].thumbnail_photo_url%>" />
                <div>
                  <div class="listing-parameters">
                    <h3>
                      <%= products[value].title%>
                    </h3>
                    <div>
                      <span>CAD <%= products[value].price%></span>
                      <script
                      src=" https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/af.min.js"
                      crossorigin="anonymous"
                    ></script>
                    </div>
                  </div>
                  <article class="listing-description">
                    <%= products[value].description %>
                  </article>
                </div>
              </div>
              <div class="listing-buttons">
                <form
                  method="POST"
                  action="/favorites/add_favorite/<%=products[value].id%>"
                >
                  <button type="submit" class="button-favorite">
                    <i class="far fa-heart"></i>
                  </button>
                </form>
                <!-- <form
                  method="POST"
                  action="/remove_favorite/<%=products[value].id%>"
                >
                  <button type="submit" class="button-favorite">
                    <i class="fas fa-heart"></i>
                  </button>
                </form> -->
                <form
                  method="GET"
                  action="/messages/listings/<%=products[value].id%>/messages "
                >
                  <button type="submit" class="new-message-button">
                    Contact
                  </button>
                </form>
              </div>
            </div>
            <hr />
            <% } %>
          </div>
        </div>
      </section>
    </main>

    <%- include('partials/_footer') %>
  </body>
</html>
