<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My listings</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/user.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <nav>
        <a href="/listings">Website name</a>
        <div>Logged in as: </div>
        <form method="POST" action="/logout">
          <button type="submit">Logout</button>
        </form>
      </nav>
    </header>

    <main>
      <section>
        <h1>
          My listings
        </h1>
        <!-- <form method="POST" action="/listings">
          <label>
            Filter by
          </label>
          <input placeholder="Please specify...">
          <button type="submit">
            Filter
          </button>
        </form> -->

        <div class = "listing-container">
          <img href="">
          <h3 class = "listing-title"><%= listings.title %></h3>
          <article class = "listing-description"><%= listings.description %></article>
          <h4><%= listings.price %></h4>
          <h5><%= listings.date %></h5>
          <form method="GET" action="/listings/<%= listings.id %>">
            <button type="submit">Edit</button>
          </form>
        </div>
      </section>
    </main>

    <%- include('partials/_footer') %>
  </body>
</html>
